<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <main>
                <h1>Morse</h1>

                <p class="welcome-message">Welcome to Morse Project Tracker</p>

                <form class="login-form flex-column">

                    <label for="username">Username or Email</label>
                    <input type="text" name="username" id="username" />

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />

                    <a class="forgot-password" href="#">Forgot Password?</a>

                    <div>
                        <button type="submit">Sign In</button>
                    </div>


                </form>

                <div class="text-separator">or</div>

                <!-- <button class="google">Sign in with Google</button> -->
                <img class="google" src="btn_google_signin_light_normal_web.png" alt="">

                <p class="new-user">New User? <a href="#">Create Account</a></p>
            </main>
        </div>
    </div>
</body>

</html>