.container{
    /* display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 100%; */

    display: flex;
    height: 100vh;
    background: #f6f9f8
}


nav{
    /* background: #f6f9f8; */
    background: #ffffff;
    border-right: 1px solid #e2e4e4;
    width: 240px;
}

nav header{
    margin-bottom: 10px;
    /* border-bottom: 1px solid #e2e4e4; */
}

nav h1{
    font-family: 'Changa', sans-serif;
    margin: 10px 0;
    color: #5a5a5a;
    font-size: 40px;
    text-align: center;
    
}

nav ul.nav-links{
    list-style: none;
}

nav ul.nav-links li{
    padding: 10px;

}

nav ul.nav-links li.active{
    border-left: 4px solid #707774;
}

nav ul.nav-links li:hover{
    background: #0000001a;
}

main{
    width: 100%;
    padding: 20px;
}

main header{
    margin-bottom: 18px
}

section.widget-container{
    margin-bottom: 20px;
    position: relative;
}

section.widget-container header{
    border-bottom: 1px solid #e2e4e4;
    margin-bottom: 18px;

}

section.widget-container header h2{
    font-size: 18px;
}
 
section.widget-container header .badge{
    position: absolute;
    background: #e2e4e4;
    padding: 2px 14px;
    padding-bottom: 3px;
    border-radius: 18px;
    display: flex;
    right: 0;
    top: 0;
    font-size: 12px;
}

div.status-container{
    display: grid;
    grid-auto-columns: 25%;
    column-gap: 20px;
}

div.status-box{
    background: #ffff;
    border-bottom: 1px solid #e2e4e4;
    border-radius: 4px;
    padding: 18px;
}

div.status-box h3{
    font-size: 14px;
    font-weight: 400;
}

div.status-box p{
    font-size: 40px;
}

div.status-box p span.unit{
    font-size: 18px;
    font-weight: 400;
}


div.log{
    text-overflow: ellipsis;
    display: flex;
    margin-bottom: 10px;
}

div.log img{
    height: 24px;
}

div.image-frame{
    border-radius: 50%;
    height: 24px;
    overflow: hidden;
    width: 24px;
}

div.log span{
    margin-left: 10px;
}

div.log span{
    margin-left: 10px;
}

div.log span.task-id{
    font-weight: 500;
}

