<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <nav>
            <header>
                <h1>Morse</h1>
            </header>

            <ul class="nav-links">
                <li><a href="#">Dashboard</a></li>
                <li class="active"><a href="#">Projects</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Profile</a></li>
            </ul>

        </nav>

        <main>
            <header>
                Projects > New Project
            </header>

            <section class="widget-container">

                <header>
                    <h2>Project Status</h2>
                </header>
                
                <div class="status-container">
                    <div class="status-box">
                        <h3>In Progress</h3>
                        <p>3</p> 
                    </div>

                    <div class="status-box">
                        <h3>Completed Tasks</h3>
                        <p>0 <span class="unit">/ 3</span> </p> 
                    </div>

                    <div class="status-box">
                        <h3>Total Hours Spent</h3>
                        <p>4:30 <span class="unit">hrs</span> </p> 
                    </div>
                </div>

            </section>

            <section class="widget-container">

                <header>
                    <h2>Activity Logs</h2>
                    <span class="badge">
                        3
                    </span>
                </header>



                <div class="log">
                    <div class="image-frame">
                        <img src="../public/user.png" alt="">
                    </div>
                    <span class="task-id">PT-1</span>
                    <span class="date">07/14/2020:</span>
                    <span class="hours">3:00 hrs</span>
                    <span class="message">This an example of a log message.</span>
                </div>

                <div class="log">
                    <div class="image-frame">
                        <img src="../public/user.png" alt="">
                    </div>
                    <span class="task-id">PT-2</span>
                    <span class="date">07/14/2020:</span>
                    <span class="hours">0:30 hrs</span>
                    <span class="message">Another example.</span>
                </div>


                <div class="log">
                    <div class="image-frame">
                        <img src="../public/user.png" alt="">
                    </div>
                    <span class="hours">1:00 hrs</span>
                    <span class="task-id">PT-3</span>
                    <span class="date">07/14/2020:</span>
                    
                    <span class="message">This should be a longer log for another task.</span>
                </div>


                <!-- <table class="log">
                    <thead>
                        <th class="user"></th>
                        <th class="project">Project ID</th>
                        <th class="date">Date</th>
                        <th class="message">Message</th>
                    </thead>
                    <tr>
                        <td>img </td>
                        <td>P1</td>
                        <td>Jul 14, 2020</td>
                        <td>This is a sample log message</td>
                    </tr>
                </table> -->

            </section>

        </main>
    </div>
</body>

</html>