<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <nav>
            <header>
                <h1>Morse</h1>
            </header>

            <ul class="nav-links">
                <li class="active"><a href="#">Projects</a></li>
                <li><a href="#">Profile</a></li>
            </ul>

        </nav>

        <main>
            <header>
                Projects > New Project
            </header>

            <section class="widget-container">

                <div class="status-container">
                    <div class="status-box">
                        <h3>In Progress</h3>
                        <p>3</p> 
                    </div>

                    <div class="status-box">
                        <h3>Completed Tasks</h3>
                        <p>0 <span class="unit">/ 3</span> </p> 
                    </div>

                    <div class="status-box">
                        <h3>Total Hours Spent</h3>
                        <p>4:30 <span class="unit">hrs</span> </p> 
                    </div>
                </div>

            </section>

            <section class="widget-container">

                <header>
                    <h2>Tasks</h2>
                </header>
                
                <div class="task-container">
                    
                    <div class="board">
                        <div class="header">
                            <h3>New Tasks</h3>
                            <div class="action-buttons">
                                <button>
                                    <ion-icon name="add-outline"></ion-icon>
                                </button>
                            </div>
                        </div>

                        <div class="board-body">

                            <div class="task-box">
                                <form class="login-form flex-column">

                                    <label for="project-name">Task Name</label>
                                    <input type="text" name="project-name" id="project-name" />
            
                                </form>
                            </div>
                            
                        </div>

                    </div>


                    <div class="board">
                        <div class="header">
                            <h3>In Progress</h3>
                        </div>
                        
                        <div class="board-body">

                            <div class="task-box">
                                <h4>
                                    Task 1: <span class="subtitle">New Task</span>
                                </h4>
                                <div class="footer">
                                    <div class="image-frame small">
                                        <img src="../public/user.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="task-box">
                                <h4>
                                    Task 2: <span class="subtitle">Another Task</span>
                                </h4>
                                <div class="footer">
                                    <div class="image-frame small">
                                        <img src="../public/user.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="task-box">
                                <h4>
                                    Task 3: <span class="subtitle">Do this</span>
                                </h4>
                                <div class="footer">
                                    <div class="image-frame small">
                                        <img src="../public/user.png" alt="">
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <div class="board">
                        <div class="header">
                            <h3>Completed</h3>
                        </div>
                        
                        <div class="board-body">
                            
                        </div>

                    </div>

                </div>

            </section>

            <section class="widget-container">

                <header>
                    <h2>Activity Logs</h2>
                    <span class="badge">
                        3
                    </span>
                </header>

                <div class="log">
                    <p>
                        <span class="date">07/14/2020:</span>
                        <span class="user"> <a href="#">Marcelino Madriaga</a></span> 
                        logged <span class="hours"> 3:00 hrs</span> to 
                        <span class="task"> <a href="">New Task</a> </span>
                    </p>
                </div>

                <div class="log">
                    <p>
                        <span class="date">07/14/2020:</span>
                        <span class="user"> <a href="#">Marcelino Madriaga</a></span> 
                        logged <span class="hours"> 1:00 hrs</span> to 
                        <span class="task"> <a href="">Another Task</a> </span>
                    </p>
                </div>

                <div class="log">
                    <p>
                        <span class="date">07/14/2020:</span>
                        <span class="user"> <a href="#">Marcelino Madriaga</a></span> 
                        logged <span class="hours"> 0:30 hrs</span> to 
                        <span class="task"> <a href="">Do This</a> </span>
                    </p>
                </div>

            </section>

        </main>
    </div>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>